@import url("https://unpkg.com/leaflet/dist/leaflet.css");
/* or if you prefer to import from node_modules in your JS: */


@import "tailwindcss";





/* Apply Poppins font globally */
* {
  font-family: 'Poppins', sans-serif;
  cursor: default;
  user-select: none;
}

/* Keep cursor pointer for interactive stuff */
button,
a,
[role="button"],
input[type="submit"] {
  cursor: pointer;
}

html, body, #root {
  overflow-x: hidden;
}

/* html {
  scroll-behavior: smooth;
} */
